<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Cards and Board Games</title>
    <meta name="keywords" content="cărți de joc, pokemon, yu-gi-oh, cărți, jocuri de societate, board-games, monopoly">
    <meta name="description"
        content="Cards and Board Games este locul perfect pentru toti pasionatii de jocuri de carti si multe altele">

    <%- include("../fragmente/head.ejs") %>

</head>

<body>
    <%- include("../fragmente/header.ejs") %>
        <main>
            <h2>Altceva</h2>
        </main>
        <%- include("../fragmente/footer.ejs") %>
</body>

</html>