<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cards and Board Games - Logout">
        <meta name="keywords" content="cards, boardgames, games, logout">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Cards and Board Games - înregistrare </title>
        <%- include("../fragmente/head") %>
        <script type="text/javascript" src=/resurse/js/produse.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>
    <main>
    Ai fost delogat!
</main>
    <%- include('../fragmente/footer') %>
</body>
</html>
