html {
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

@font-face {
    font-family: 'Lobster', cursive;
}

body {
    --culoare-background: #EA5455;
    --culoare1: #679E49;
    --culoare2: #90EB60;
    --culoare3: #299E8C;
    --culoare4: #49EBD2;
    --background-white:white;
    --padding-sectiune: 15px;
    --spatiere-pagina: 55px;
    --culoare-fundal-inchis: #C886FF;
    --latime-buton: 200px;
    --invaltime-buton: 35px;
    margin: 0;
}

body.dark{
    --culoare-background: black;
    --culoare1: grey;
    --culoare2: lightgrey;
    --culoare3: grey;
    --culoare4: lightgrey;
    --background-white:white;
}

body {
    background: var(--culoare-background);
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    min-width: 450px;
}

body > * {
    background: var(--background-white);
}

#grid-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "z-prezentare z-prezentare z-prezentare z-prezentare"
            "z-prezentare z-prezentare z-prezentare z-prezentare"
            "z-tabel z-tabel z-evenimente z-evenimente"
            "z-tabel z-tabel z-anunturi z-anunturi"
            "z-utilizatori-online z-utilizatori-statistici z-utilizatori-statistici z-date-ss"
            "z-diverse z-diverse z-diverse z-diverse";
    gap: 10px 5px;
}

#grid-pagina > * {
    border: 2px solid var(--culoare4);
    padding: var(--padding-sectiune);
}

#prezentare {
    grid-area: z-prezentare;
}

#tabel {
    grid-area: z-tabel;
}

#evenimente {
    grid-area: z-evenimente;
}

#anunturi {
    grid-area: z-anunturi;
}

#utilizatori-online {
    grid-area: z-utilizatori-online;
}

#utilizatori-statistici {
    grid-area: z-utilizatori-statistici;
}

#date-ss { /*date site server*/
    grid-area: z-date-ss;
}

#diverse {
    grid-area: z-diverse;
}

.sus {
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 4rem;
    width: 1em;
    height: 1em;
    line-height: 0.9em;
    font-size: 3em;
    text-align: center;
    background-color: var(--culoare3);
    color: var(--culoare4);
    border-radius: 50%;
    padding: 0;
    text-decoration: none;
    opacity: 75%;
    box-shadow: 0 0 10px var(--culoare3);
    transition: opacity 0.4s ease-in-out;
}

.sus:hover {
    background-color: var(--culoare3);
    box-shadow: 0 0 15px var(--culoare3);
    color: var(--culoare4);
    opacity: 100%;
}

.tabel-container {
    max-width: 100%;
    overflow-scrolling: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 5px inset var(--culoare4);
}

th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid var(--culoare4);
}

tr:nth-child(even) td, tr:nth-child(odd) th {
    border-top: 1px solid var(--culoare3);
    border-bottom: none;
}

tr:nth-child(odd) td, tr:nth-child(odd) th {
    border-top: 1px solid var(--culoare4);
    border-bottom: none;
}


tr:hover {
    outline: 5px solid #49EBD270;
    transition: outline 0.5s
}

header, footer {
    background-color: var(--culoare1);
    color: white;
    padding: 10px;
    box-shadow: 0 0 5px var(--culoare1);
}

header {
    font-family: 'Lobster', cursive;
}

header h1 {
    margin: 0;
    text-align: center;
}

img {
    width: 100%;
    max-width: 400px;
}

iframe {
    width: 100%;
    display: block;
}

.iframe {
    max-width: 600px;
}

.taburi-iframe {
    display: flex;
    justify-content: right;
}

.fa-critical-role {
    font-size: xxx-large;
}

.link-iframe {
    width: var(--latime-buton);
    height: var(--invaltime-buton);
    background: var(--culoare3);
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s linear;
}

.link-iframe:hover {
    background: var(--culoare4);
}

.taburi-iframe {
    display: flex;
    justify-content: right;
}

header, body, footer {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/*main{     ///Nu arata bine
    margin-top: 100px;
}*/

#unuPlusUnu {
    color: #EA5455;
    font-style: italic;
}

#plus {
    font-style: italic;
}

.watermark {
    display: none;
}

video{
    width: 100%;
    min-width: 300px;
    max-width: 800px;
}

::cue{
    background: linear-gradient( var(--culoare3), var(--culoare1));
    /*background: linear-gradient( red, blue);*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

main a{
    background-image: radial-gradient(circle, var(--culoare1) 0%, var(--culoare1) 40%, transparent 80%, transparent 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    transition: background 1s linear;
}

main a:hover{
    background-size: 100%;
}

main a:visited{
    color: var(--culoare2);
}

main a:active{
    border: 1px solid black;
}

main a[href^="http"]::before{
    content: "\2BB3";
}

main a[href^="http"]:hover::before{
    color: var(--culoare-background)
}

.hr-container {
    position: relative;
    margin-top: 20px;
}

hr{
    border: none;
    border-top: 1px solid black;
}

hr:before, hr:after{
    position: absolute;
    width: 0;
    height: 0;
    top: -5px;
    content: "";
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

hr::before{
    left: 0;
    border-left: 5px solid black;
}

hr::after{
    right: 0;
    border-right: 5px solid black;
}

.refelectie-container{
    position: relative;
    display: block;
    transition: color linear 1s;
}

.refelectie-container:hover{
    color: var(--culoare2);
}

.dereflectat{
    position: relative;
    transform: rotateZ(350deg) rotateY(45deg);
    transform-origin: 0 0 ;
}

.reflectie{
    position:absolute;
    left:0;
    top:100%;
    transform-origin:0 0;
    /*conetaza ordinea transformarilor!*/
    transform: rotateZ(10deg)translate(315px,-85px) rotateY(225deg);
}

#galeriefig {
    transition: transform 1s linear;
}

#galerieimg{
    transition: filter 100ms linear;
}

#generalfig:hover #galeriefig{
    transform: scale(150%);
}

#generalfig:hover #galerieimg{
    filter: contrast(200%);
}
