html {
    font-size: 12px;
}

body {
    --spatiere-pagina: 10px;
    --padding-sectiune: 5px;
}

#grid-pagina {
    display: block;
}

#grid-pagina > * {
    margin-bottom: 10px;
}

#banner{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--culoare1);
}
