<div class="watermark">
    <div>Tudor</div>
    <div>Coriciuc</div>
</div>
<footer>
    <p id="banner">Acesta este un proiect școlar!</p>
    <a href="#" class="sus" title="Sus!">&#5123</a>
    <br>
    <a href="tel:+40712345678">Numar de telefon: 0712345678</a>
    <br>
    <a href="mailto:cardgames@gmail.com">Lasati un email la adresa noastra: cardgames@gmail.com</a>
    <br>
    <a href="https://api.whatsapp.com/send?phone=40712345678" target="_blank">Lasati sugestii pe Whatsapp-ul nostru!</a>
    <br>
    <a href="https://goo.gl/maps/iAsLpKwiUapgEGd69" target="_blank">Magazinul nostru principal</a>
    <p><small>Card and Board Games Copyright&copy;
            <time datetime="2023-02-26">26-Feb-2023</time>
        </small></p>
    <p id="banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>
</footer>
